.card{
    width:20rem;
    background-color: #f2a476;
}

.card:hover{
    box-shadow:5px 10px 20px 1px rgba(0, 0, 0, 0.253) !important;
}

.card-img-top {
    max-height: 200px;
}

.container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Cabin', sans-serif;
}

.header {
    height: 500px;
    width: 100vw;
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url(../images/animal-shelter.jpg);
}

.desc {
    text-align: center;
    font-family: 'Cabin', sans-serif;
    font-size: 24px;
    padding: 0 5rem;
}

.section {
    margin-top: 2rem;
    margin-bottom: 8rem;
}