.button {
    background-color: #57371A;
    color: white;
    margin-top: 10%;
    width: 200px;
    height: 60px;
    text-align: center;
    font-size: 16px;
    border-radius: 20px;
}

.column {
    float: left;
    width: 33%;
    padding: 30px;
}

button::disabled {
    background-color: #F09E54;
}