.button {
    background-color: #57371A;
    color: white;
    margin-top: 10%;
    width: 200px;
    height: 60px;
    text-align: center;
    font-size: 16px;
    border-radius: 20px;
    border: none;
}

.row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em;
}

button::disabled {
    background-color: #F09E54;
}

.button-no {
    background-color: #F09E54;
    color: #F4BE62;
    margin-top: 10%;
    width: 200px;
    height: 60px;
    text-align: center;
    font-size: 16px;
    border-radius: 20px;
    border: none;
}