.Container {
    display: flex;
    justify-content: center;
}

.input-dropdown, .input-dropdown-item {
    width: 80vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2rem;
}

.input-dropdown {
    background-color: #FEF6ED;
    color: #F4B942;
    font-weight: 600;
    
}

.input-dropdown:focus {
    background-color: #FEF6ED;
    color: #C18100;
    outline: none;
}

.input-dropdown:active {
    background-color: #FEF6ED;
    color: #C18100;
    outline: none;
}

.input-dropdown:hover {
    background-color: #FEF6ED;
    color: #C18100;
}