h1 {
    font-size: 100px;
    color: #57371A;
    text-align: center;
    margin-bottom: 80px;
    font-family: 'Barlow', sans-serif;
    margin-left: auto;
}

.bone-button {
    max-width:100%;
    height:auto;
}

#text {
    z-index: 100;
    font-family: 'Cabin', sans-serif;
    position: absolute;
    color: #57371A;
    font-size: 24px;
    font-weight: bold;
    left: 45%;
    top: 255px;
  }